/* base */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/layout.css";
@import "./base/base.css";

/* 3rd-party */
@import "./3rd-party/fontawesome.min.css";

/* Text Fonts */
@import "../fonts/text-fonts/text-fonts.css";

/* components */
@import './components/button.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/skills.css';
@import "./components/blog.css";
@import "./components/main-tittles.css";

/* CUSTOM PAGE STYLE BELOW THIS COMMENT LINE */

/***************************/
/* CUSTOM STYLE*/
/***************************/

section {
  padding: 50px 0;
}

/* ------------------------------------------------------ */

/* SECTION ABOUT ME */
.about-me {
}

/* SECTION MY SKILLS */
.my-skills {
}

/* SECTION MY RESUME */
.my-resume {
  display: inline-block;
  width: 100%;
  margin-top: auto;
  background-color: peru;
}

.row-title {
  display: inline-block;
  /* max-width: 780px; */
  /* width: 80%; */
  /* margin-top: 0; */
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  background-color: yellow;
}

.row-title > .my-resume-title {
  width: 100%;
  margin: auto; 
  text-align: center;
  margin-top: -50px;
  font-size: 2.2rem;
  /* padding-bottom: 10px;  BUS NAUDOJAMAS SU PSIAUDO KLASE*/
}
.row-title > .my-resume-content {
  width: 100%;
  margin: auto;
  /* width: var(col-sm-9); */
}

.my-resume-content .left-my-resume {
  /* display: inline-block;
  
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  list-style: none !important; */
  width: 40%;
  /* max-width: 40%; */
  text-align: right;
  float: left;
  background-color: royalblue;
  margin-left: 5.7%;
  list-style-type: none;
}

.my-resume-content .right-my-resume {
  /* display: inline-block;
  max-width: 40%;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  list-style: none !important; */
  width: 40%;
  float: right;
  text-align: left;
  background-color: greenyellow;
  margin-right: 5.7%;
  list-style-type: none;
}

@media(max-width: 800px) {
  .my-resume-content .left-my-resume {
  width: 86%;
  float: left;
  
  }
  .my-resume-content .right-my-resume {
  width: 86%;
  float: left;
  margin-right: 5.7%;
  }
 }

/* .my-resume span {
  color: var(--primary);
  margin-top: 15px;
  margin-bottom: 6px;
} */

.row-title > .my-resume-title > div > h4 > span {
  color: var(--primary);
  font-family: Montserrat, sans-serif;
}

/* .my-resume .col-6 marker {
  right: 10px !important;
} */

/* .col-12 {
  margin-bottom: 25px;
} */

/* .my-resume .col-6 ul {
  display: block;
  margin-block-start: 1em;
  padding-inline-start: 40px;
  text-align: right !important;
  background-color: red;
  border-right: 1px solid #f4f4f4;
} */

.my-resume li {
  padding: 30px 30px 10px;
};

.row-title > .my-resume-content > .left-icon {
  padding: 30px;
}

.row-title > .my-resume-content > .left-icon > .icon > i {
  background-color: powderblue;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  top: 9px;
  text-align: center;
}

.row-title > .my-resume-content > .right-icon > .icon > i {
  background-color: green;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  top: 9px;
  text-align: center;
}

/* END SECTION MY RESUME */


/* SECTION COUNTER */
.counter {
}

/* SECTION MY SERVICES */
.my-services {
}

/* SECTION MY PORTFOLIO */
.my-portfolio {
}

/* SECTION MY TESTIMONIALS */
.testimonial {
}

/* SECTION LATEST BLOG */
.latest-blog {
}

/* SECTION GET IN TOUCH */
.contact {
}

/* FOOTER */
footer {
}
