/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';
@import './base/base.css';

/* 3rd-party */
@import './3rd-party/fontawesome.min.css';

/* components */
@import './components/button.css';
@import './components/footer.css';
@import './components/header.css';

/* CUSTOM PAGE STYLE BELOW THIS COMMENT LINE */


/***************************/
/* CUSTOM STYLE*/
/***************************/

section {
    padding: 50px 0;
}

/* HERO */
.hero {
    position: relative;
    background-image: url(../img/header.jpeg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #666666;
}

/* .hero::before {
    background: rgba(0, 0, 0, 0.6);
} */

.overlay {
    background: rgba(0, 0, 0, 0.6);
}
/* margin-top: 17px; */

/* .main-row {
    display: inline-block;
    width: 78%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
} */

.hero .logo {
    width: 100px;
}

.hero .navigation {
    float: right;
}

.hero .navigation a {
    color: var(--third);
    text-decoration: none;
    font-size: 15px;
    margin: 0 15px;
    cursor: pointer;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
}

.hero .navigation a:first-child {
    color: var(--primary);
}

.hero .navigation a:hover {
    color: var(--primary);
}

/* SECTION ABOUT ME */
.about-me {

}

/* SECTION MY SKILLS */
.my-skills {

}

/* SECTION MY RESUME */
.my-resume {

}

/* SECTION COUNTER */
.counter {

}

/* SECTION MY SERVICES */
.my-services {

}

/* SECTION MY PORTFOLIO */
.my-portfolio {

}

/* SECTION MY TESTIMONIALS */
.testimonial {

}

/* SECTION LATEST BLOG */
.latest-blog {

}

/* SECTION GET IN TOUCH */
.contact {

}

/* FOOTER */
footer {
    
}

