

.testimonial .title {
    position: absolute;
    left: 100%;
    /* transform: translate(-50%, 0%); */
    color: var(--primary);
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    animation-name: swipe2;
    animation-duration: 2s;
}

.testimonial-animation {
    display: block;
    height: 32px;
    position: relative;
    overflow: hidden;
}

.testimonial-animation-paragraph {
    display: block;
    min-height: 150px;

    position: relative;
    overflow: hidden;
}

@keyframes swipe2 {
    0% {


    }
    100% {
        left: -70%;
        
    }
}

.testimonial .rating {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #FFD600;
    margin-bottom: 10px;
    line-height: 1.85714286em;
    animation-name: swipe2;
    animation-duration: 2s;
}

.testimonial .paragraph {
    display: inline-block;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #ccc;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.85714286em;
    font-weight: 400;
    overflow-y: hidden;
    animation-name: swipe2;
    animation-duration: 2s;
}

.testimonial .title2 {
    display: inline-block;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: .9rem;
    color: var(--paragraph2);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
    animation-name: swipe2;
    animation-duration: 2s;
}

.testimonial .title3 {
    display: inline-block;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 8px;
    color: #ccc;
    animation-name: swipe2;
    animation-duration: 2s;
}