.counter-selection {
    width: 100%;
    background: url('../../img/client.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.counter-selection > .my-counter-blocks {
    border-radius: 5px;
}

.counter-block {
    text-decoration: #fff;
}

.counter-block > .icon {
    margin-bottom: 30px;
}

.counter-block > .number {

}

.counter-block > .h6{

}

.counter-block > .h7 {

}

