.my-portfolio .row {
    /* display: flex;
    flex-wrap: wrap; */
    
}

.my-portfolio .gallery-navigation{
    
}

.my-portfolio .gallery {

}

.my-portfolio .gallery-overlay1 {
    display: inline-block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #f7f7f7;
    /* z-index: 100; */
    transition: .5s ease;
    opacity: 0;
}

.my-portfolio .gallery-overlay2 {
    display: inline-block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    /* background: rgba(255, 255, 255, 0.9); */
    /* z-index: 100; */
    /* transition: .5s ease; */
    opacity: 0;
    text-align: center;
    /* animation-name: overlay2-animation; */

    animation: overlay2-animation 1.2s linear infinite;
    animation-play-state: paused; 
    animation
    /* animation-duration: 2s; */
}

@keyframes overlay2-animation {
    0% {
        top: 100px;
    }
    100% {
        top: 8px;
    }
}

.my-portfolio .gallery-photo {
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 5px 3px;
}

.gallery-photo :hover {
    opacity: 1;
    animation-play-state: running; 
}

.my-portfolio .gallery-photo img{
    width: 100%;
    border-radius: 4px;
}

.my-portfolio .photo-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 25px;
    color: #111;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.my-portfolio .gallery-icon {
    color: var(--primary);
    font-size: 18px;
    text-align: center;
    margin: 16px;
}

