.my-portfolio .row {
    /* display: flex;
    flex-wrap: wrap; */
    
}

.my-portfolio .gallery-navigation{
    
}

.my-portfolio .gallery {

}

.my-portfolio .gallery-overlay {
    display: inline-block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #f7f7f7;
    /* z-index: 100; */
    transition: .5s ease;
    opacity: 0;
}

.my-portfolio .gallery-overlay {
    display: inline-block;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #f7f7f7;
    /* z-index: 100; */
    transition: .5s ease;
    opacity: 0;
}

.my-portfolio .gallery-photo {
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 5px 3px;
}

.gallery-photo :hover {
    opacity: 1;
}

.my-portfolio .gallery-photo img{
    width: 100%;
    border-radius: 4px;
}

