.skill-progess-bar {
    width: 100%;
}

.skill-progess-bar > .top {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;

}

.skill-progess-bar > .top > .label{
    float: left;

}

.skill-progess-bar > .top > .value {
    float: right;
    text-decoration: rgb(103, 27, 80);

}

.skill-progess-bar > .bottom {
    width: 100%;
    height: 10px;
    background-color:rgb(238, 231, 223);

}

.skill-progess-bar > .bottom > .skills-bar {
    width: 75%;
    height: 100%;
    background-color: rgb(103, 27, 80);

}